[submodule "src/MOM6"]
	path = src/MOM6
	url = https://github.com/hdrake/MOM6.git
	branch = meltworld
[submodule "src/SIS2"]
	path = src/SIS2
	url = https://github.com/hdrake/SIS2.git
	branch = meltworld
[submodule "tools/matlab/gtools"]
	path = tools/matlab/gtools
	url = https://github.com/Adcroft/gtools.git
[submodule "tools/python/MIDAS"]
	path = tools/python/MIDAS
	url = https://github.com/mjharriso/MIDAS.git
[submodule "src/icebergs"]
	path = src/icebergs
	url = https://github.com/hdrake/icebergs.git
	branch = meltworld
[submodule "src/coupler"]
	path = src/coupler
	url = https://github.com/hdrake/FMScoupler.git
	branch = meltworld
[submodule "src/atmos_null"]
	path = src/atmos_null
	url = https://github.com/NOAA-GFDL/atmos_null.git
	branch = main
[submodule "src/land_null"]
	path = src/land_null
	url = https://github.com/gfdl-cryosphere/land_null.git
	branch = dev/cryo
[submodule "src/mkmf"]
	path = src/mkmf
	url = https://github.com/mom-ocean/mkmf.git
	branch = c5
[submodule "tools/analysis/mpl-cmocean"]
	path = tools/analysis/mpl-cmocean
	url = https://github.com/matplotlib/cmocean.git
[submodule "src/ice_param"]
	path = src/ice_param
	url = https://github.com/NOAA-GFDL/ice_param.git
	branch = main
[submodule "src/FMS1"]
	path = src/FMS1
	url = https://github.com/alex-huth/FMS.git
[submodule "src/FMS2"]
	path = src/FMS2
	url= https://github.com/gfdl-cryosphere/FMS.git
	branch = dev/cryo
[submodule "src/Icepack"]
	path = src/Icepack
	url = https://github.com/CICE-Consortium/Icepack.git
	branch = main
[submodule "src/land_lad2"]
	path = src/land_lad2
	url = https://github.com/gfdl-cryosphere/land_lad2.git
	branch = dev/cryo
